/* --------------- IMPORTS --------------- */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/* --------------- GENERAL --------------- */
.home{
  width: 100vw;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER */
.headingWrapper {
  border-radius: 50px;
  background: radial-gradient(76.75% 76.75% at 50% 46.9%, rgba(255, 255, 255, 0.72) 0%, rgba(236, 236, 236, 0.684625) 58.96%, rgba(223, 223, 223, 0.66) 100%);
}

/* CLASSES */
.classItem {
  height:200px;
  width:200px;
  border-radius:50%;
  background: radial-gradient(76.75% 76.75% at 50% 46.9%, rgba(255, 255, 255, 0.72) 0%, rgba(236, 236, 236, 0.684625) 58.96%, rgba(223, 223, 223, 0.66) 100%);
}




