/* --------------- IMPORTS --------------- */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/* --------------- GENERAL --------------- */
.classView {
  width: 100vw;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}